/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*    Variables    */

:root {
  font-family: 'Avenir Next LT W01', Sans-Serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.26em;

  background-color: #000;
  color: #B3B3B3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.debug {
  border: 1px solid red;
  height: 20px;
}

/* Grid */

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-row-gap: 0;
}

.aPush-1 {
        margin-top: 10px;
    }

.bPush-1 {
        margin-bottom: 10px;
    }

.col-offset-1 {
        grid-column-start: 1;
    }

.aPush-2 {
        margin-top: 20px;
    }

.bPush-2 {
        margin-bottom: 20px;
    }

.col-offset-2 {
        grid-column-start: 2;
    }

.aPush-3 {
        margin-top: 30px;
    }

.bPush-3 {
        margin-bottom: 30px;
    }

.col-offset-3 {
        grid-column-start: 3;
    }

.aPush-4 {
        margin-top: 40px;
    }

.bPush-4 {
        margin-bottom: 40px;
    }

.col-offset-4 {
        grid-column-start: 4;
    }

.aPush-5 {
        margin-top: 50px;
    }

.bPush-5 {
        margin-bottom: 50px;
    }

.col-offset-5 {
        grid-column-start: 5;
    }

.aPush-6 {
        margin-top: 60px;
    }

.bPush-6 {
        margin-bottom: 60px;
    }

.col-offset-6 {
        grid-column-start: 6;
    }

.aPush-7 {
        margin-top: 70px;
    }

.bPush-7 {
        margin-bottom: 70px;
    }

.col-offset-7 {
        grid-column-start: 7;
    }

.aPush-8 {
        margin-top: 80px;
    }

.bPush-8 {
        margin-bottom: 80px;
    }

.col-offset-8 {
        grid-column-start: 8;
    }

.aPush-9 {
        margin-top: 90px;
    }

.bPush-9 {
        margin-bottom: 90px;
    }

.col-offset-9 {
        grid-column-start: 9;
    }

.aPush-10 {
        margin-top: 100px;
    }

.bPush-10 {
        margin-bottom: 100px;
    }

.col-offset-10 {
        grid-column-start: 10;
    }

.col-lg-start-1 {
        grid-column-start: 1;
    }

.col-lg-end-1 {
        grid-column-end: 2; /*Has sum to mimic span-like behaviour and also because it makes it easier for my brain */
    }

.col-lg-start-2 {
        grid-column-start: 2;
    }

.col-lg-end-2 {
        grid-column-end: 3; /*Has sum to mimic span-like behaviour and also because it makes it easier for my brain */
    }

.col-lg-start-3 {
        grid-column-start: 3;
    }

.col-lg-end-3 {
        grid-column-end: 4; /*Has sum to mimic span-like behaviour and also because it makes it easier for my brain */
    }

.col-lg-start-4 {
        grid-column-start: 4;
    }

.col-lg-end-4 {
        grid-column-end: 5; /*Has sum to mimic span-like behaviour and also because it makes it easier for my brain */
    }

.col-lg-start-5 {
        grid-column-start: 5;
    }

.col-lg-end-5 {
        grid-column-end: 6; /*Has sum to mimic span-like behaviour and also because it makes it easier for my brain */
    }

.col-lg-start-6 {
        grid-column-start: 6;
    }

.col-lg-end-6 {
        grid-column-end: 7; /*Has sum to mimic span-like behaviour and also because it makes it easier for my brain */
    }

.col-lg-start-7 {
        grid-column-start: 7;
    }

.col-lg-end-7 {
        grid-column-end: 8; /*Has sum to mimic span-like behaviour and also because it makes it easier for my brain */
    }

.col-lg-start-8 {
        grid-column-start: 8;
    }

.col-lg-end-8 {
        grid-column-end: 9; /*Has sum to mimic span-like behaviour and also because it makes it easier for my brain */
    }

.col-lg-start-9 {
        grid-column-start: 9;
    }

.col-lg-end-9 {
        grid-column-end: 10; /*Has sum to mimic span-like behaviour and also because it makes it easier for my brain */
    }

.col-lg-start-10 {
        grid-column-start: 10;
    }

.col-lg-end-10 {
        grid-column-end: 11; /*Has sum to mimic span-like behaviour and also because it makes it easier for my brain */
    }

.col-lg-start-11 {
        grid-column-start: 11;
    }

.col-lg-end-11 {
        grid-column-end: 12; /*Has sum to mimic span-like behaviour and also because it makes it easier for my brain */
    }

.col-lg-start-12 {
        grid-column-start: 12;
    }

.col-lg-end-12 {
        grid-column-end: 13; /*Has sum to mimic span-like behaviour and also because it makes it easier for my brain */
    }

header {
  padding: 10px 0;
  background-color: #212121
}

.logo {
  background: transparent url('../img/logo.png') top left no-repeat;
  background-size: 100%;
  height: 36px;
  text-indent: -99999px
}

.logo:hover {
  background-image: url('../img/logo.gif');
}

.main-nav {
  font-size: .75rem;
  text-align: right
}

.main-nav .button {
  font-size: inherit;
  font-family: "Avenir Next LT W01";
  font-weight: 600;
}

.main-nav .button:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}

.main-nav ul {
  margin-top: 14px;
}

.main-nav ul li {
  display: inline;
  margin-left: 30px;
}

.main-nav ul li a {
  color: #B1B1B1;
  text-decoration: none;
  transition: all 320ms ease-in-out;
}

.main-nav ul li a:hover {
  text-decoration: underline;
  color: #F1F1F1;
}

footer {
  padding: 20px 0;
  font-size: .75rem;
  font-weight: 600;
  background-color: #212121;
}

.footer-nav {
  font-size: .75rem;
  text-align: right
}

.footer-nav ul {/* margin-top: 14px;
*/
}

.footer-nav ul li {
  display: inline;
  margin-left: 30px;
}

.footer-nav ul li a {
  color: #B1B1B1;
  text-decoration: none;
  transition: all 320ms ease-in-out;
}

.footer-nav ul li a:hover {
  text-decoration: underline;
  color: #F1F1F1;
}

button, .button {
  transition: all 320ms ease-in-out;
  background-color: transparent;
  padding: 8px 20px;
  border: 1px solid #DFDFDF;
  color: #DFDFDF;
  border-radius: 5px;
  text-align: center;
  font-size: .87rem;
  font-weight: 600;
  text-decoration: none
}

button:hover, .button:hover {
  color: black;
  background-color: white;
}

@font-face{
    font-family:"Avenir Next LT W01";
    src:url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
    src:url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),
    url("../fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),
    url("../fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),
    url("../fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"),
    url("../fonts/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Avenir Next LT W01";
    src:url("../fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix");
    src:url("../fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix") format("eot"),
    url("../fonts/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2") format("woff2"),
    url("../fonts/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff"),
    url("../fonts/18839597-afa8-4f0b-9abb-4a30262d0da8.ttf") format("truetype"),
    url("../fonts/1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585.svg#1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family:"Avenir Next LT W01";
    src:url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
    src:url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"),
    url("../fonts/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2") format("woff2"),
    url("../fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"),
    url("../fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"),
    url("../fonts/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family:"Avenir Next LT W01";
    src:url("../fonts/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix");
    src:url("../fonts/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix") format("eot"),
    url("../fonts/687932cb-145b-4690-a21d-ed1243db9e36.woff2") format("woff2"),
    url("../fonts/bc350df4-3100-4ce1-84ce-4a5363dbccfa.woff") format("woff"),
    url("../fonts/bc13ae80-cd05-42b4-b2a9-c123259cb166.ttf") format("truetype"),
    url("../fonts/4862b373-2643-46b1-b0b5-88537c52d15c.svg#4862b373-2643-46b1-b0b5-88537c52d15c") format("svg");
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family:"Avenir Next LT W01";
    src:url("../fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix");
    src:url("../fonts/dccb10af-07a2-404c-bfc7-7750e2716bc1.eot?#iefix") format("eot"),
    url("../fonts/14c73713-e4df-4dba-933b-057feeac8dd1.woff2") format("woff2"),
    url("../fonts/b8e906a1-f5e8-4bf1-8e80-82c646ca4d5f.woff") format("woff"),
    url("../fonts/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf") format("truetype"),
    url("../fonts/ed104d8c-7f39-4e8b-90a9-4076be06b857.svg#ed104d8c-7f39-4e8b-90a9-4076be06b857") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family:"Avenir Next LT W01";
    src:url("../fonts/ac2d4349-4327-448f-9887-083a6a227a52.eot?#iefix");
    src:url("../fonts/ac2d4349-4327-448f-9887-083a6a227a52.eot?#iefix") format("eot"),
    url("../fonts/eaafcb26-9296-4a57-83e4-4243abc03db7.woff2") format("woff2"),
    url("../fonts/25e83bf5-47e3-4da7-98b1-755efffb0089.woff") format("woff"),
    url("../fonts/4112ec87-6ded-438b-83cf-aaff98f7e987.ttf") format("truetype"),
    url("../fonts/ab1835cb-df6f-4d8d-b8ee-3075f5ba758d.svg#ab1835cb-df6f-4d8d-b8ee-3075f5ba758d") format("svg");
    font-weight: 700;
    font-style: italic;
}

h1 {
  color: #F1F1F1;
  font-family: "Avenir Next";
  font-weight: 700;
}

h2 {
  color: #F1F1F1;
  font-family: "Avenir Next";
  font-weight: 700;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.625rem;
}

h2 {
  font-size: 1.56rem;
  line-height: 1.75rem;
}

p {
  line-height: 1.26rem;
}

a {
    color: white;
    text-decoration: underline
}

a:hover {/* I'll be back :D
*/
}
