@keyframes slideTop {
  from {
    padding-top: 50px;
    opacity: 0;
  } to {
    padding-top: 0;
    opacity: 1;
  }
}

.animate-0 {
  animation: slideTop 3s 0s 1;
}

.hidden {
  opacity: 0;
}

@for $i from 1 to 5 {
  .animate-$i {
    animation: slideTop 630ms calc(110 + $i)ms 1; 
  }
}