@keyframes slideTop {
  from {
    padding-top: 50px;
    opacity: 0;
  } to {
    padding-top: 0;
    opacity: 1;
  }
}

@keyframes delayTop {
  0% { opacity: 0; padding-top: 50px }
  50% { opacity: 0; }
  70%  { opacity: 1; padding-top: 0 }
}

.animate-0 {
  animation: slideTop 3s 0s 1;
}

.animate-1 {
  animation: delayTop 3s 1s 1;
}

.hidden {
  opacity: 0;
}
