/*    Variables    */
:root {
  font-family: 'Avenir Next LT W01', Sans-Serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.26em;

  color: #B3B3B3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bodyColor: #B3B3B3;
  --overlayGray: #212121;
  --titleColor: #F1F1F1;
  --columns: 12;
}

.debug {
  border: 1px solid red;
  height: 20px;
}